In [9]:
import numpy as np
import pandas as pd
import os
import decimal
from math import *
import matplotlib as mpl
import matplotlib.pyplot as plt

In [10]:
#Import
cwd = os.getcwd()
path = cwd.replace('FinalProject/preprocessing/exploration','FinalProject/preprocessing/cleaning/cleaned')
df = pd.read_csv(path)
df

,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,...,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,id
0,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,4,...,5,5,5,2,5,5,50,44.0,1,19556
1,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,1,...,4,4,4,3,4,5,0,0.0,1,90035
2,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,4,...,4,1,3,2,2,2,0,0.0,0,12360
3,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,2,...,1,1,1,3,1,4,0,6.0,1,77959
4,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,3,...,2,2,2,4,2,4,0,20.0,1,36875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129482,Female,disloyal Customer,23,Business travel,Eco,192,2,1,2,3,...,3,1,4,2,3,2,3,0.0,0,94171
129483,Male,Loyal Customer,49,Business travel,Business,2347,4,4,4,4,...,5,5,5,5,5,4,0,0.0,1,73097
129484,Male,disloyal Customer,30,Business travel,Business,1995,1,1,1,3,...,3,2,4,5,5,4,7,14.0,0,68825
129485,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,1,5,...,4,5,1,5,4,1,0,0.0,0,54173
129486,Male,Loyal Customer,27,Business travel,Business,1723,1,3,3,3,...,1,1,4,4,3,1,0,0.0,0,62567

In [12]:
df.columns

Index(['Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction', 'id'],
      dtype='object')

In [6]:
#Prediction column
df['satisfaction'].unique()

array(['satisfied', 'neutral or dissatisfied'], dtype=object)

## Data Exploration

### Univariate Analysis
For continuous variables (all of the variables excluding “Age”), develop boxplots and/or histograms independently
For the “Age” variable, develop bar charts to identify frequencies

## Bivariate Analysis
For continuous variables (all of the variables excluding “Age”), develop scatterplots and lineplots between the continuous variable in relation to the “satisfaction” variable.
Develop a column chart between the “age” variable and the “satisfaction” variable